[Unit]
Description=Check approved networks every 15 minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
Unit=vulnsense-discovery.service

[Install]
WantedBy=timers.target
